
.container_gral{
background-color: red;
padding: .5em;
/* height: 50vh; */
min-width: 280px;

}

.container_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aqua;
    padding: .5em;
    gap: 1em;
    height: 100%;
    

}

.product__brand{
font-size: 1rem;
font-weight: 6s00;
color: rgb(82, 83, 83);
}


.product__title{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
}


.product__description{
  
    line-height: 1.2;
    color: rgb(36, 36, 36);
    font-weight: 700;
font-size: 1rem;

}


.container__price-quantity{
    width: 100%;
    background-color: rgb(25, 17, 33);
    display: flex;
}


.price-value{
background-color: rgb(226, 224, 57);  
display: grid;  
font-weight: 700;
width: 40%;
}
/*contiene el titulo quantyfi y los botones del counter*/

.quantyti__count{
display: grid;
justify-content:center;
width: 40%;
background-color: rgb(177, 169, 169);
gap: 1em;
padding: 1em;
}

.quantyti__count span{
    background-color: rebeccapurple;
    text-align: center;
    font-size: 1rem;
}

/*contiene los botones del counter*/
.container__button{
    background-color: red;
display: flex;
justify-content: center;
gap: .5em;

}


.container__button button{
font-size: 2rem;
aspect-ratio: 3;
}

.container__button span{
    font-size: 2rem;
    aspect-ratio: 3;
    }
    

.button__cart{
    width: 100%;
    background-color: rgb(207, 124, 85);
    padding: .3em;
    font-size: 2rem;
}

