
.container_gral{
/* background-color: rgb(231, 116, 116); */
padding: .5em;
/* height: 50vh; */
min-width: 280px;

}

.container_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua; */
    padding: .5em;
    gap: 1em;
    height: 100%;
    

}

.product__brand{
font-size: 1rem;
font-weight: 6s00;
color: rgb(82, 83, 83);
}


.product__title{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
    background-color: rgb(222, 220, 220);
    padding: .5em;
}


.product__description{
  
    line-height: 1.2;
    color: rgb(36, 36, 36);
    font-weight: 700;
font-size: 1rem;

}


.container__price-quantity{
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    gap: 2em;
    
}


.price-value{
/* background-color: rgb(226, 224, 57);   */
display: grid;
color: rgb(24, 24, 24);
justify-content: center;
align-content: center;

font-weight: 700;
font-size: 1.2rem;
width: 40%;
}
/*contiene el titulo quantyfi y los botones del counter*/

.container__quantity{
display: grid;
justify-content:center;
width: 40%;
/* background-color: rgb(177, 169, 169); */
gap: .5em;
padding: 1em;
}

.quantity__label{
    /*background-color: rebeccapurple; */
    text-align: center;
    font-size: 1.2rem;
}

/*contiene los botones del counter*/
.container__button{
    background-color: rgb(213, 213, 213);
display: flex;
justify-content: center;

gap: .5em;

}


.container__button button{
font-size: 1rem;
aspect-ratio: 3;
}

.container__button span{
    /* background-color: aqua; */
    font-size: 1.5rem;
    aspect-ratio: 3;
    }
    

.button__cart{
    width: 100%;
    background-color: rgb(203, 105, 59);
    padding: .3em;
    font-size: 2rem;
    border: transparent;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 2px rgb(172, 172, 172);
}

.product__img-1{
    opacity:1;
}

.product__img-2{
    opacity:0;
}
