.container__productId{
background-color: rgb(230, 223, 156);
display: grid;
justify-content: center;
align-items: center;
 
padding: .5em;
  
}


.productId__header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    background-color: rgb(216, 18, 216);
   padding: 1em;


}

.info{
 width: 50%;  
 min-width: 280px;

}


.slider{
width: 50%;
min-width: 280px;
}

